# Maven klasörü
/target/

# Log dosyaları
*.log

# IntelliJ ve STS (Eclipse tabanlı IDE) ayar dosyaları
/.idea/
/.project
.classpath
.settings/
/*.iml

# VS Code ayar dosyaları
.vscode/

# İşletim sistemi kaynaklı dosyalar
.DS_Store
Thumbs.db

# Spring Boot devtools geçici dosyaları
.spring-boot-devtools.properties

# Geçici veya geçici stash dosyaları
*.orig

# JUnit test çıktıları
/test-output/
/tmp/
